
@media screen and (max-width:1000px) {
    .container {
        background: -webkit-linear-gradient(right, #466264, #ce77f7, #193f42, #cf68ff);
        overflow: hidden;
    }

    header {
        height: 3.4vh;
        display: flex;
    }
    nav {
        flex-direction: column;
        height: 14.7vh;
        align-items: center;
        justify-content: center;
    }

    .logo {
        justify-content: center;
        align-items: center;
        height: 157px;
        /* margin: 0px 0px 0px -167px; */
    }

    .img-flipkart img {
        height: 2vh;
        width: 100%;
        margin: 0px 6px 0px 0px;
    }

    .logo2 {
        margin: 0px 0px 0px 2px;
    }

    .explore {
        font-size: 42.2%;
margin: 8px 0px 0px 3px;
    }

    .search input {
        width: 28vw;
        height: 2.5vh;

    }
.logo2 img{  width: 0.9vw;
    height: 1.2vh;
  }
    .btn {
        width: 48px;
        height: 20px;
        font-size: 12px;
        font-family: Roboto, Arial, sans-serif;
    }

    .close-btn {
        margin: -7vw 0px 0px 11vw;
    }
    .close{
        margin: 0px 0px 0px 8vw;
font-size: 4vh;
    }

    .seller p {
        font-size: 60%;
    }

    .login1_txt {
        font-size: 3vh;
        margin: 40px 0px 0px 15px;
        font-weight: bolder;
    }

    .login1_content {
        letter-spacing: .3px;
        line-height: 15px;
        font-size: 2vh;
        font-size: 9px;
        margin: 21px 0px 0px 0px;
        display: flex;
    }

    .login-inner {
        margin: 34px 0px;
left: 6%;
        padding: 0;
        top: 50%;
height: 60vh;
        width: 77%;
    }
    .labl{
        font-size: 1.7vh;
    }
    .blocklog{
        width: 100%;
    }

    .login1 {
        width: 38vw;
    }

    .enter-btn button {
        width: 50%;
height: 50%;
font-size: 2vh;
margin: -34px 0px 0px 9px;
    }
    .login-inner form .data{
        margin: 14px 0px;
    }

    .enter-btn button:hover {
        font-size: 12px;
    }

    .condition {
        font-size: 6px;
letter-spacing: .1px;
margin: 0px 0px 0px 0px;
    }

    .signuplink {
        right: 6vw;
font-size: 2vw;
letter-spacing: 0.1px;
    }

    .forgetpassword {
        font-size: 2.3vw;
        margin: -16px 0px 0px 0px;
    }


.saree-detail p{
    padding: 0;
    font-size: 1.6vh;
}
.saree-detail{
    padding: 0;
    font-size: 3vw;
}
img{
    height: 89%;
}
.saree-cost{
    font-size: 10px;
}
.saree-img{
    height: 25vh;
}
.saree-col1{
    height: 98%;
}
.saree-col2{
    height: 98%;
}
.saree-col3{
    height: 98%;
}
.saree-product{
    height: 98%;
}
.saree-cost p{
    font-size: 10px;
}
.he1 p{
    font-size: 4vw;
}
.he2 p{
    font-size: 4vw;
}
.inner2{
    width: 100%;
}
.inner1{
    display: none;
}
.saree-cost{
    font-size: 3vw;
}
.saree-cost p{
    margin: 0px 0px 0px 6px;
    font-size: 2vw;
}

}